* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.footer {
    width: 100%;
    color: #7f8c8d;
    text-align: center;
    padding: 10px;
    position: relative;
}

.footer__text {
    margin: 0;
}

.footer__load-time {
    margin: 0;
}

@font-face {
    font-family: "Library";
    src: url("../fonts/fontLibrary.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 800px) {
    .page__container {
        flex-wrap: nowrap;
    }

    .sidebar {
        width: 40%;
    }

    .content {
        width: 80%;
    }

    .menu__link {
        font-size: 16px;
        padding: 10px;
    }

    .search-bar-container {
        width: 70%;
    }
}
