.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form__label {
    font-size: 25px;
    font-weight: bold;
    color: #121a35;
    margin-bottom: 10px;
}

.form__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    color: #333;
    outline: none;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

.form__input:focus {
    border-color: #a0d7ff;
    background-color: #ffffff;
}

.form__button {
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #121a35;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form__button:hover {
    background-color: #34495e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form__button:focus {
    outline: none;
}

.todo-list {
    list-style-type: none;
    padding: 10px;
    margin: 20px 0;
    color: #121a35;
    font-weight: bold;
    font-size: 20px;
}

.todo-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.todo-list li:hover {
    background-color: #f9f9f9;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}
.content__title {
    margin-bottom: 10px;
    margin-left: 20px;
    color: #121a35;
    font-weight: bold;
    font-family: 'Library', serif;
    font-size: 75px;
}

@media (max-width: 768px) {
    .form {
        padding: 20px;
        gap: 15px;
    }

    .form__label {
        font-size: 16px;
    }

    .form__input {
        padding: 10px;
        font-size: 14px;
    }

    .form__button {
        padding: 14px;
        font-size: 16px;
    }
}
